* {
  background: #faf9f8;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

h2 {
  background: #9b8da1;
  font-size: 40px;
  color: rgb(252, 252, 252);
  margin-top: 0%;
  padding: 3px;
}

.home-img {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 500px;
  height: 200px;
  background: url("https://images.pexels.com/photos/326281/pexels-photo-326281.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  opacity: 30%;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.home-img:hover {
  opacity: 100%;
}

.home-style {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 10px;
  width: 500px;
}

.button-hm {
  font-size: 20px;
  color: black;
  padding: 3px;
  border-radius: 5%;
  border: none;
  display: flex;
  justify-content: center;
  margin: auto;
}
